<!DOCTYPE html>
<html>
  <head>
    <title>Real-time Speech to HTML</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Real-time Speech to HTML</h1>
    <button id="start-btn">Start Listening</button>
    <button id="stop-btn">Stop Listening</button>
    <div id="recognized-text">
      {{ html_text|safe }}
    </div>

    <script>
      $(document).ready(function() {
        $('#start-btn').click(function() {
          $.ajax({
            url: '/start_listening',
            type: 'POST',
            success: function(response) {
              console.log(response);
            }
          });
        });

        $('#stop-btn').click(function() {
          $.ajax({
            url: '/stop_listening',
            type: 'POST',
            success: function(response) {
              console.log(response);
            }
          });
        });

        setInterval(function() {
          $.ajax({
            url: '/',
            type: 'GET',
            success: function(data) {
              $('#recognized-text').html(data);
            }
          });
        }, 1000);
      });
    </script>
  </body>
</html>