@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Oleo+Script+Swash+Caps&family=Syne:wght@400;700&family=Ubuntu&family=Varela+Round&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Syne', sans-serif;
}

.slick-slide > div{
  margin: 0 10px;
}

button.slick-arrow.slick-next{
  background-color: black;
}
button.slick-arrow.slick-prev{
  background-color: black;
}